{% set logo_suffix = current_theme starts with 'dark' ? '-dark' : '' %}
{% set logo_extension = website_branding.is_vector ? '.svg' : '.png' %}
{% set logo_type = website_branding.use_wordmark ? 'logo-wordmark' : 'logo' %}

{% set logo = website_branding.assets_location ~ '/' ~ logo_type ~ logo_suffix ~ logo_extension %}

<!DOCTYPE html>
<html lang="{{ language_code }}" dir="ltr">
<head>
    <link rel="stylesheet" href="/assets/css/trinium-default.css">
</head>
<body>
    <div class="header">
        <div class="header-container">
            <div class="header-main">
                <div class="header-logo">
                    <img alt="{{ website_branding.name }}" class="logo" src="{{ logo }}">
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="page-contents">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-powered-by">
                <span>Powered by <a href="/version">Social {{ social_version.name }} {{ social_version.number }}</a></span>
            </div>
            <div class="footer-links">
                {#{% for link in footer_links() %}
                    <span><a href="{{ link.url }}">{{ link.name }}</a></span>
                {% endfor %}#}
            </div>
            <div class="footer-copyright">
                <span>© {{ ('now' | date('Y')) }} Bluffingo Development</span>
            </div>
            {% if is_debug %}
                <div>
                    <a class="button button-danger button-small" id="debug-button">Debug</a>
                </div>
            {% endif %}
        </div>
    </footer>
</body>
</html>