{% extends "_layout.twig" %}

{% if is_user_logged_in %}
    {% set jumbotronClassName = "homepage-logged-in" %}
{% else %}
    {% set jumbotronClassName = "homepage-logged-out" %}
{% endif %}

{% block precontent %}
    <div class="jumbotron page-banner homepage">
        <div class="jumbotron-container {{ jumbotronClassName }}">
            <div class="jumbotron-welcome">
                {% if is_user_logged_in %}
                    <div class="profile-picture">
                        <img src="{{ profile_picture(user_data.name) }}" class="pfp" alt="{{ user_data.name }}">
                    </div>
                    <div class="jumbotron-logged-in-text">
                        <h1>{{ localize('welcome_logged_in', user_data.title) }}</h1>
                        <div>@{{ user_data.name }} • {{ localize('followers', user_stat_data.followers) }}
                            • {{ localize('views', user_stat_data.views) }}</div>
                    </div>
                {% else %}
                    <h1>{{ localize('welcome_logged_out', website_branding.name) }}</h1>
                    {% if is_chaziz_sb %}
                        <p>{{ localize('welcome_slogan') }}</p>
                    {% endif %}
                    <div class="jumbotron-get-started">
                        <a href="/register" class="button button-warning">{{ localize('welcome_get_started') }}</a>
                        <span>← {{ localize('welcome_its_free') }}</span>
                    </div>
                {% endif %}
            </div>
            <div class="jumbotron-right-container">
                <div class="jumbotron-right-date">
                    {{ date() | format_date('long', 'none') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="content-box">
        {% for post in data.posts %}
            {#{{ dump(post) }}#}
            {{ include('/components/_post.twig') }}
        {% endfor %}
    </div>
{% endblock %}

{#
<link rel="stylesheet" href="/trinium-default.css">
<div class="page">
    <div class="page-contents">
        <div class="container">
            <h1><?php echo (new VersionNumber())->outputVersionBanner(); ?></h1>
            <p>Using BluffingoCore <?php echo (new CoreVersionNumber())->getVersionString(); ?></p>
            <h2>Post message (not functional for now)</h2>
            <div class="content-box">
                <form action="/" method="post">
                    <div class="form-input">
                        <textarea class="form-submit" id=" post-content" name="content" rows="4" cols="50" maxlength="280" required></textarea>
                    </div>
                    <div class="form-button-container">
                        <button type="submit" class="button button-primary">Post</button>
                        <button type="reset" class="button button-secondary">Clear</button>
                    </div>
                </form>
            </div>
            <hr>
            <h2>Posts</h2>
            <div class="content-box">
                <?php foreach ($posts as $post): ?>
                    <?php $user = new UserData($post['author'])->getUserArray(); ?>
                    <div class="comment">
                        <a href="/user.php?name=<?php echo $user["username"]; ?>">
                            <div class="profile-picture">
                                <img src="pfp.png" class="pfp" alt="<?php echo $user["username"]; ?>">
                            </div>
                        </a>
                        <div class="comment-body">
                            <div class="comment-author">
                                <div class="comment-author">
                                    <div class="userlink">
                                        <a style="color:<?php echo $user["color"]; ?>;" href="/user.php?name=<?php echo $user["username"]; ?>"><?php echo $user["username"]; ?></a>
                                    </div>
                                    <span class="comment-timestamp"><?php echo date('Y-m-d H:i:s', $post['timestamp']); ?></span>
                                </div>
                            </div>
                            <div class="comment-contents">
                                <?php echo htmlspecialchars($post['contents']); ?>
                            </div>
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
</div>
#}